html,
body {
	height: 100%;
}

img {
	max-width: 100%;
}

#cover {
	background: #222 url(../images/milky-way-2695569_1280.jpg) center center no-repeat;
	background-size: cover;
	color:#fff;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
}

#cover-caption {
	width: 100%;
}

#wedge {
	width: 100%;
	height: 20px;
	background-color: #e1e5ed;
}

.icons {
	text-align: center;	
}

.social-icons {
	margin-top: 25px;
}

.carousel-item {
	max-height: 700px;
}

input {
	margin-right: 10px;
}

@media only screen and (max-width: 1024px) {
   .carousel-inner .carousel-item{
      height: 580px;
   }
}

@media only screen and (max-width: 767px) {
   .carousel-inner .carousel-item{
      height: 480px;
   }

   .btn {
		margin-top: 10px;
	}
}

@media only screen and (max-width: 576px) {
   .carousel-inner .carousel-item{
      height: 280px;
   }
}

@media only screen and (max-width: 450px) {

	input {
		margin-right: 20px;
	}
}

.section-content {
	padding: 5rem 0;
}

#about {
	background: url('https://cdn.pixabay.com/photo/2015/03/26/09/39/woman-690036_960_720.jpg') center center no-repeat;
	background-size: cover;
}

.about-text {
	background: rgba(0,0,0,0.8);
	color: #fff;
	padding: 1.875rem;
}

#footer-main {
	background: #222;
	color: #fff;
	font-size: 0.8rem;
	padding: 2.5rem 0;
}
